/*
 * SPDX-FileCopyrightText: 2021 Roel Standaert <roel@abittechnical.com>
 *
 * SPDX-License-Identifier: GPL-2.0-only
 */

html, body {
    font-family: sans-serif;
    font-size: 14px;
    margin: 0;
}